.statusTitle {
  border: 1px solid black;
  margin: 0;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: space-between;
  min-width: 10%;
  cursor: pointer;
}
.titles {
  display: flex;
  width: 100%;
  gap: 20px;
}
.statusTitle:hover {
  background-color: rgb(0, 169, 244);
  border: none;
}
.usexlsx {
  border: 1px solid green;
  min-width: 10%;
  color: green;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}
