.container_today {
  background-color: #fff;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 15px;
}
.container_today > p,
.historical > p {
  text-align: center;
  padding: 0;
  margin: 0;
}
.container_today .number {
  font-size: 1.5rem;
  font-weight: bolder;
}
.container_today .texte {
  font-size: 12px;
}
.historical {
  margin-bottom: 5px;
  padding: 10px;
}
.historical .textes {
  font-size: 12px;
  font-weight: 600;
}
.historical .nombres {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(0, 169, 254);
}
