.entete {
  background-color: #002d72;
  text-align: center;
  color: white;
  padding: 10px;
}
.name {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
.entete > p {
  padding: 0;
  margin: 0;
  font-weight: bolder;
}
.feedbackdiv > p {
  padding: 0;
  margin: 0;
}
