.titre_projet {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.description_projet {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 15px;
}
.papier_projet {
  padding: 10px;
  margin-top: 10px;
}
.plus .plus_title {
  font-size: 13px;
  opacity: 0.7;
}
.insla {
  color: green !important;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}
.plus .plus_value {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
}
.tableau_detail > table > thead > tr > td {
  border: 1px solid black;
  padding: 2px 20px;
  background-color: #dedede;
}
.tableau_detail > table > tbody > tr > td {
  border: 1px solid black;
  font-size: 11px;
  padding: 3px;
}
.delete {
  cursor: pointer;
}
.export_excel {
  color: green;
  margin-bottom: 1rem;
  text-align: right;
  cursor: pointer;
}
