.messagemention {
  min-height: 20rem;
  padding: 10px;
}
.mentiones {
  font-size: 20px !important;
}
.elevation_name > p,
.elevation_name .footer > p {
  padding: 0;
  margin: 0;
}
.elevation_name {
  padding: 10px;
  margin-bottom: 5px;
}
.moment {
  text-align: right;
  font-size: 11px;
}
.message {
  text-align: justify;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: right;
}
.elevation_name .footer > p {
  margin-right: 10px;
}
